.container img{
width: 200px;
height: 100px;
margin-left: 20px;
}
.container {
    margin-left: 100px;
}
.cardGroup{
display: flex;
float: left;
margin: 12px;
}
.card{
    width: 245px;
    background: #FFFFFF;
    border-radius: 10px;
    padding-top: 20px;
}